.gradio-container {
    max-width: 100% !important
}
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered-content > * {
    width: 50%;
}
.grid-wrap {
    max-height: 75vh !important
}

#duplicate-button {
    margin: auto;
    color: #fff;
    background: #1565c0;
    border-radius: 100vh;
}

#bighistoryPreview img {
    max-height: 80vh !important;
    object-fit: contain; /* Optional: To ensure the image maintains its aspect ratio */
}

#largeSearchPreview img {
    max-height: 80vh !important;
    object-fit: contain; /* Optional: To ensure the image maintains its aspect ratio */
}

#pagination {
    margin-top: 1rem;
}